.login-container {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;

	.login-button {
		display: block;
		width: 250px;
		padding: 15px;
		font-size: 14pt;
		margin: auto;
		margin-bottom: 20px;
	}
}